<!DOCTYPE html>
<html lang>

{% include '_head.html' %}

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">Graphs Algorithms</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                User
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="{{ url_for('user_profile') }}">Profile</a></li>
                <li><a class="dropdown-item" href="{{ url_for('logout') }}">Log out</a></li>
              </ul>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('tsp') }}">TSP</a>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('apsp') }}">APSP</a>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('flows') }}">Max Flow</a>
          </ul>
        </div>
      </div>

    </nav>

    <div class="container-xl">
        {% block content%} {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>

</html>
