{% extends "login_page_layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <h1>Registration</h1>
    <div class="container">
        {% if message %}
            <p class="message">{{ message | safe }}</p>
        {% endif %}
        <form action="/reg_form" method="POST">
            <fieldset>
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.username, placeholder='username') }}
            {{ wtf.form_field(form.password, placeholder='password') }}
            {{ wtf.form_field(form.password_conf, placeholder='password confirm') }}
            </fieldset>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock content %}